<div class="card" style="width: 12rem">
    <img src="/icons/python.png" class="card-img-top" alt="python" />
    <div class="card-body">
        <h5 class="card-title">Python</h5>
        <p class="card-text">Python Installer</p>
        <a href="#" class="btn btn-primary" download>Download</a>
    </div>
</div>
<div class="card" style="width: 12rem">
    <img src="/icons/java.webp" class="card-img-top" alt="java" />
    <div class="card-body">
        <h5 class="card-title">Java</h5>
        <p class="card-text">Java JRE installer</p>
        <a href="#" class="btn btn-primary" download>Download</a>
    </div>
</div>
