<div class="card" style="width: 12rem">
    <img src="/icons/vscode.png" class="card-img-top" alt="vscode" />
    <div class="card-body">
        <h5 class="card-title">Visual Studio Code</h5>
        <p class="card-text">For general purpose</p>
        <a href="#" class="btn btn-primary" download>Download</a>
    </div>
</div>
<div class="card" style="width: 12rem">
    <img src="/icons/codeblocks.webp" class="card-img-top" alt="codeblocks" />
    <div class="card-body">
        <h5 class="card-title">CodeBlocks</h5>
        <p class="card-text">For C/C++ programming</p>
        <a href="#" class="btn btn-primary" download>Download</a>
    </div>
</div>
<div class="card" style="width: 12rem">
    <img src="/icons/clion.png" class="card-img-top" alt="clion" />
    <div class="card-body">
        <h5 class="card-title">CLion IDE</h5>
        <p class="card-text">For C/C++ programming</p>
        <a href="#" class="btn btn-primary" download>Download</a>
    </div>
</div>
<div class="card" style="width: 12rem">
    <img src="/icons/pycharm.png" class="card-img-top" alt="pycharm" />
    <div class="card-body">
        <h5 class="card-title">PyCharm IDE</h5>
        <p class="card-text">For Python programming</p>
        <a href="#" class="btn btn-primary" download>Download</a>
    </div>
</div>
<div class="card" style="width: 12rem">
    <img src="/icons/idea.png" class="card-img-top" alt="idea" />
    <div class="card-body">
        <h5 class="card-title">IntelliJ Idea IDE</h5>
        <p class="card-text">For Java programming</p>
        <a href="#" class="btn btn-primary" download>Download</a>
    </div>
</div>
<div class="card" style="width: 12rem">
    <img src="/icons/sublime.png" class="card-img-top" alt="sublime text" />
    <div class="card-body">
        <h5 class="card-title">Sublime Text</h5>
        <p class="card-text">For general purpose</p>
        <a href="#" class="btn btn-primary" download>Download</a>
    </div>
</div>
<div class="card" style="width: 12rem">
    <img src="/icons/atom.png" class="card-img-top" alt="atom editor" />
    <div class="card-body">
        <h5 class="card-title">Atom Editor</h5>
        <p class="card-text">For general purpose</p>
        <a href="#" class="btn btn-primary" download>Download</a>
    </div>
</div>
