<div class="container">
    <h1>Click to Download Sheets</h1>
    <ul class="sheet-links">
        <li><a href="#" download>C</a></li>
        <li><a href="#" download>C++</a></li>
        <li><a href="#" download>Python</a></li>
        <li><a href="#" download>Java</a></li>
    </ul>
</div>
